html{
    /* width: 1080px;
    height: 900px; */
    background-image: url(./background1.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size:cover;
}
h1{
    text-align: center;
    font-size: 35px;
}
h2{
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    font-style: italic;
    padding-top: 40px;
}
a{
    text-decoration: none;
    color: rgb(229, 219, 110);
}
a:hover{
    color: rgb(160, 60, 20);
    background-color: red;
}
.container{
    height: 500px;
    width: 1080px;
    /* background-color: rgb(231, 233, 196); */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
}
.story{
    /* background-color: blue ; */
    border-radius: 50px;
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-top: 100px;
}
.video{
    /* background-color: rgb(67, 67, 101) ; */
    border-radius: 50px;
    height: 200px;
    width: 200px;
    margin-top: 100px;

}
.festival{
    /* background-color: rgb(50, 50, 56) ; */
    border-radius: 50px;
    height: 200px;
    width: 200px;
    margin-top: 100px;
}
